/*
 Theme Name:   Artpolis Child
 Theme URI:    
 Description:  Twenty Twenty Child Theme
 Author:       John Freire	
 Author URI:   http://example.com
 Template:     twentytwenty
 Version:      1.0.0
*/
@import url('../twentytwenty/style.css'); 
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');


h1, h2, h3, h4{
font-family: 'Raleway', sans-serif;
}

p{
font-family: 'Roboto', sans-serif;
}